namespace: patroni
scope: cluster_1
name: {{ inventory_hostname }}

restapi:
    listen: 0.0.0.0:8008
    connect_address: {{ hostvars[inventory_hostname]['ansible_facts'][cluster_communication_interface]['ipv4']['address'] }}:8008

etcd3:
    host: {{ hostvars[inventory_hostname]['ansible_facts'][cluster_communication_interface]['ipv4']['address'] }}:2379

bootstrap:
  # this section will be written into Etcd:/<namespace>/<scope>/config after initializing new cluster
  dcs:
      ttl: 30
      loop_wait: 10
      retry_timeout: 10
      maximum_lag_on_failover: 1048576

      postgresql:
          use_pg_rewind: true
          use_slots: true
          parameters:
              wal_level: replica
              hot_standby: "on"
              wal_keep_segments: 10
              max_wal_senders: 5
              max_replication_slots: 10
              wal_log_hints: "on"
              logging_collector: 'on'
              max_wal_size: '10GB'
              archive_mode: "on"
              archive_timeout: 600s
              archive_command: "cp -f %p {{ archived_dir }}/%f"

      pg_hba: # Add following lines to pg_hba.conf after running 'initdb'
          - host replication replicator 127.0.0.1/32 trust
          - host replication replicator 0.0.0.0/0 scram-sha-256
          - host all all 0.0.0.0/0 scram-sha-256
          - host all all ::0/0 scram-sha-256
      recovery_conf:
            restore_command: cp {{ archived_dir }}/%f %p

  # some desired options for 'initdb'
  initdb: # Note: It needs to be a list (some options need values, others are switches)
      - encoding: UTF8
      - data-checksums


postgresql:
    cluster_name: cluster_1
    listen: 0.0.0.0:5432
    connect_address: {{ hostvars[inventory_hostname]['ansible_facts'][cluster_communication_interface]['ipv4']['address'] }}:5432
    data_dir: {{ postgres_data_dir }}
    bin_dir: {{ postgres_bin_dir }}
    config_dir: {{ postgres_config_dir }}
    pgpass: /tmp/pgpass0
    authentication:
        replication:
            username: {{ patroni_repl_user }}
            password: {{ patroni_repl_pass }}
        superuser:
            username: {{ patroni_superuser }}
            password: {{ patroni_superuser_pass }}
    parameters:
        unix_socket_directories: "/var/run/postgresql/"
    create_replica_methods:
        - basebackup
    basebackup:
        checkpoint: 'fast'

    watchdog:
      mode: required # Allowed values: off, automatic, required
      device: /dev/watchdog
      safety_margin: 5

tags:
    nofailover: false
    noloadbalance: false
    clonefrom: false
    nosync: false