# SPDX-License-Identifier: MIT-0
---
# tasks file for etcd

# Install packages

- name: "Make sure the unzip/tar packages are present"
  ansible.builtin.package:
    name:
      - unzip
      - tar
    state: present

- name: Download and install etcd
  when: etcd_package_repo | length > 0
  block:
    - name: "Download etcd package"
      ansible.builtin.get_url:
        url: "{{ etcd_package_repo }}"
        dest: /tmp/
        mode: "644"
        timeout: 60
        validate_certs: false

    - name: "Extract etcd into /tmp"
      ansible.builtin.unarchive:
        src: "/tmp/{{ etcd_package_repo | basename }}"
        dest: /tmp/
        extra_opts:
          - --no-same-owner
        remote_src: true

    - name: "Copy etcd and etcdctl binary files to /usr/local/bin/"
      ansible.builtin.copy:
        src: "/tmp/{{ etcd_package_repo.split('.tar.gz')[0] | basename }}/{{ item }}"
        dest: /usr/local/bin/
        mode: u+x,g+x,o+x
        remote_src: true
      loop:
        - etcd
        - etcdctl

- name: "Create etcd service (copy systemd service file)"
  ansible.builtin.template:
    src: templates/etcd.service.j2
    dest: /etc/systemd/system/etcd.service
    mode: "644"

- name: "Add etcd user"
  ansible.builtin.user:
    name: etcd
    shell: /usr/sbin/nologin
    create_home: false

- name: Create a etcd default env config
  ansible.builtin.template:
    src: etcd.default.j2
    dest: /etc/default/etcd
    owner: root
    group: root
    mode: "644"

- name: Create a directory for etcd config
  ansible.builtin.file:
    path: /etc/etcd/
    owner: etcd
    group: etcd
    state: directory
    mode: "744"

- name: Create a directory for etcd data
  ansible.builtin.file:
    path: /var/lib/etcd
    owner: etcd
    group: etcd
    state: directory
    mode: "744"

- name: Create a etcd config
  ansible.builtin.template:
    src: etcd.conf.yaml.j2
    dest: /etc/etcd/etcd.conf.yaml
    owner: etcd
    group: etcd
    mode: "644"

- name: "Enable and start etcd service"
  ansible.builtin.systemd:
    daemon_reload: true
    name: etcd
    enabled: true
    state: started

- name: "Make sure handlers are flushed immediately"
  ansible.builtin.meta: flush_handlers
